<div class="main">
    <app-switch-theme-button (checkedChange)="handleTheme($event)" > </app-switch-theme-button>

    <h1>TIME COUNTER</h1>
    
    <h2>{{counter}}</h2>
    
    <div class="main_painel-buttons">
        <app-circle-button icon="exposure_neg_1" (click)="handleDecressValue()" ></app-circle-button>
        <app-circle-button icon="exposure_zero" (click)="handleReset()"></app-circle-button>
        <app-circle-button icon="exposure_plus_1" (click)="handleIncressValue()"></app-circle-button>
    </div>
</div>