/* You can add global styles to this file, and also import other style files */
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

$dark: rgba(21, 21, 21, 1);
$white: rgba(238, 238, 238, 1);
*{
  margin: 0;
}

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

@mixin lighten() {
    --bgColor: #{$white};
    --textColor: #{$dark};
    --buttonColor: #{$dark};
    --textButtonColor: #{$white};
}
@mixin darken() {
    --bgColor: #{$dark};
    --textColor: #{$white};
    --buttonColor: #{$white};
    --textButtonColor: #{$dark};
}
html, body{
  height: 100%;
  }

body {
  background-color: var(--bgColor);
  font-family:Roboto, "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
body.lighter{
  @include lighten();
}
body.darker{
  @include darken();
}
// mat-slide-toggle {
//   @include mat.slide-toggle-overrides((
//       disabled-selected-track-color: white, 
//   ));
// }